.main {
  background: #f4f9f7;
  padding: 80px 0 100px;

  @media screen and (max-width: 1440px) {
    padding-top: 70px;
  }
}

.section {
  padding: 100px;
  margin: 100px 100px 0;
  border-radius: 20px;
  background: rgba(38, 134, 100, 0.1);

  @media screen and (max-width: 1440px) {
    padding: 60px;
    margin-top: 80px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__title {
    color: #268664;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 26px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.52px;
    margin-bottom: 20px;
  }
}

.img {
  height: 554px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 1440px) {
    height: 400px;
    border-radius: 14px;
    box-shadow: 0px 0px 11.552px 0.722px rgba(0, 0, 0, 0.15);
  }
}

.border {
  position: absolute;
  border: 1.634px solid #00ec98;

  @media screen and (max-width: 1440px) {
    border-width: 1px;
  }
}

.system {
  &__images {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 60px;

    @media screen and (max-width: 1440px) {
      padding: 0;
    }
  }

  &__img {
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-label {
      font-size: 20px;
      line-height: normal;
    }

    &_1 {
      width: 358px;
      margin-bottom: 20px;
    }

    &_2 {
      width: 126px;

      @media screen and (max-width: 1440px) {
        border-width: 1px;
      }
    }

    &_3 {
      width: 351px;
      margin-bottom: 26px;
    }
  }
}

.how-it-works {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__img {
    &:first-of-type {
      margin-right: 40px;
    }
  }
}

.app {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__img {
    &:first-of-type {
      margin-right: 40px;
    }
  }
}

.menu {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__img {
    &-wrap {
      position: relative;
    }

    &-border {
      &_1 {
        width: 96px;
        height: 85px;
        border-radius: 3.268px;
        top: 0;
        right: -13px;
      }

      &_2 {
        width: 274px;
        height: 78px;
        border-radius: 2.626px;
        top: 73px;
        right: -9px;
      }
    }

    &_1 {
      height: 62px;
      margin-top: 11px;
      border-radius: 10px;
    }
  }

  &__arrow {
    margin: 23px 49px 0 53px;
  }
}

.hours {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    &-wrap {
      position: relative;
    }

    &-border {
      &_1 {
        width: 56px;
        height: 50px;
        border-radius: 3.268px;
        top: 164px;
        right: -4px;
      }

      &_2 {
        width: 137px;
        height: 44px;
        border-radius: 3.268px;
        top: 274px;
        right: 6px;
      }
    }
  }

  &__arrow {
    margin: 0 40px;
  }
}

.radius {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    &-wrap {
      position: relative;
    }

    &-border {
      &_1 {
        width: 274px;
        height: 43px;
        border-radius: 2.626px;
        top: 108px;
        right: -9px;
      }

      &_2 {
        width: 274px;
        height: 81px;
        border-radius: 2.626px;
        top: 70px;
        right: -9px;
      }
    }
  }

  &__arrow {
    margin: 0 40px;
  }
}

.status {
  padding-bottom: 111px;

  &__images {
    margin-top: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 63px;
    border-radius: 10px;

    &-wrap {
      position: relative;
    }

    &-border {
      width: 96px;
      height: 85px;
      border-radius: 3.268px;
      top: -11px;
      right: -13px;
    }
  }

  &__arrow {
    margin: 0 40px;
  }
}

.request {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__img {
    &:first-of-type {
      margin-right: 40px;
    }
  }
}

.schedule {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    &-wrap {
      position: relative;
    }

    &-border {
      &_1 {
        width: 274px;
        height: 123px;
        border-radius: 2.626px;
        top: 367px;
        right: -9px;
      }

      &_2 {
        width: 274px;
        height: 431px;
        border-radius: 2.626px;
        top: 70px;
        right: -9px;
      }
    }
  }

  &__arrow {
    margin: 0 40px;
  }
}

.notifications {
  padding-bottom: 100px;

  &__images {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    &-wrap {
      position: relative;
    }

    &-border {
      &_1 {
        width: 78px;
        height: 67px;
        border-radius: 3.268px;
        top: 492px;
        right: 58px;
      }

      &_2 {
        width: 274px;
        height: 40px;
        border-radius: 2.626px;
        top: 294px;
        right: -9px;
      }
    }
  }

  &__arrow {
    margin: 0 40px;
  }
}

.bonuses {
  padding-bottom: 105px;

  &__img {
    display: block;
    height: 288px;
    margin: 35px auto 0;
  }
}
